{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Список откликов</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>ФИО</th>
                <th>Вакансия</th>
                <th>Контакты</th>
            </tr>
        </thead>
        <tbody>
            {% for response in responses %}
            <tr>
                <td>{{ response.id }}</td>
                <td>{{ response.user.fio }}</td>
                <td>{{ response.job.title }}</td>
                <td>{{ response.user.contacts }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}