{% extends "base.html" %}

{% block content %}
<div class="auth-form">
    <h2>Регистрация</h2>
    {% if error %}
    <p style="color: red">{{ error }}</p>
    {% endif %}
    <form method="post" action="/user/register">
        <input type="text" name="fio" placeholder="ФИО" required>
        <input type="text" name="specialty" placeholder="Специальность" required>
        <input type="text" name="course" placeholder="Курс" required>
        <input type="text" name="record_book" placeholder="Номер зачетки" required>
        <input type="text" name="contacts" placeholder="Введите почту" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <input type="password" name="confirm_password" placeholder="Повторите пароль" required>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <p><a href="/user/login">Войти</a></p>
</div>
{% endblock %}